.mat-elevation-z8 {
    .signButtons {
        display: flex;
        justify-content: space-around;
        .signInButton {
            width: 30%;
            margin-top: 20px;
        }
        .signUpButton {
            width: 30%;
            margin-top: 20px;
        }
    }
    .logOutButton {
        margin-top: 20px;
    }
        background-color: darkgray;
        margin-top: 2px;
        .buttons {
            display: flex;
            justify-content: space-around;
            .takeButton { width: 20%;}
            .returnButton { width: 20%;}
        }
}
table {
    width: 100%;
  }
  