<div class="main">
    <mat-card *ngFor="let book of books" class="card">
        <h1>{{ book.name}}</h1>
        <p>Amount: {{book.amount}}</p>
        <p>Available: {{book.available}}</p>
        <div class="buttons">
            <button mat-raised-button class="takeButton" color="primary" (click)="takeBook(book.id)">Take book</button>
            <button mat-raised-button class="returnButton" color="primary" (click)="returnBook(book.id)">Return book</button>
        </div>
    </mat-card>
    <button mat-raised-button (click)="logOut()" class="logOutButton" color="warn">Log Out</button>
</div>