.mat-elevation-z8 {
    .log-out-button {
        margin-top: 20px;
    }
        background-color: darkgray;
        margin-top: 2px;
        .buttons {
            display: flex;
            justify-content: space-around;
            .take-button { width: 20%;}
            .return-button { width: 20%;}
        }
}
table {
    width: 100%;
  }
  