<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let book">
                <h1>{{book.name}}</h1>
                <div class="buttons" *ngIf="isLogIn()">
                    <button mat-raised-button class="takeBook" color="primary"
                        (click)="openDialogueToTake(book.id)" [disabled]="isUserHasBook(book.id)">Take book</button>
                    <button mat-raised-button class="takeBook" color="primary"
                        (click)="openDialogueToReturn(book.id)" [disabled]="!isUserHasBook(book.id)">Return book</button>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
            <td mat-cell *matCellDef="let book"> {{book.amount}} </td>
        </ng-container>
        <ng-container matColumnDef="available">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Available </th>
            <td mat-cell *matCellDef="let book"> {{book.available}} </td>
        </ng-container>
        <ng-container matColumnDef="authors">
            <th mat-header-cell *matHeaderCellDef> Authors </th>
            <td mat-cell *matCellDef="let book">
                <div class="authors" *ngFor="let author of book.authors">
                    <p>{{author.name}}</p>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="users" *ngIf="isAdmin()">
            <th mat-header-cell *matHeaderCellDef> Users </th>
            <td mat-cell *matCellDef="let book">
                <div class="users" *ngFor="let user of book.users">
                    <p>{{user.name}}</p>
                </div>
            </td>
        </ng-container>
        <div class="forAdmin" *ngIf="isAdmin()">
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </div>
        <div class="forUser" *ngIf="!isAdmin()">
            <tr mat-header-row *matHeaderRowDef="displayedColumnsForUser"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsForUser;"></tr>
        </div>
    </table>
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="pageEvent = getBooksForPageData($event)" showFirstLastButtons></mat-paginator>
    <div class="signButtons" *ngIf="!isLogIn()">
        <button mat-raised-button (click)="toLog()" class="signInButton" color="primary">Sign In</button>
        <button mat-raised-button (click)="toReg()" class="signUpButton" color="primary">Sign Up</button>
    </div>
    <button mat-raised-button *ngIf="isLogIn()" (click)="logOut()" class="logOutButton" color="warn">Log Out</button>
</div>