.main {
    width: 700px;
    margin: 20px auto;

    .logOutButton {
        margin-top: 20px;
    }
    .card {
        background-color: darkgray;
        border-radius: 20px;
        border: solid black 1px;
        margin-top: 2px;
        .buttons {
            display: flex;
            justify-content: space-around;
            .takeButton { width: 30%;}
            .returnButton { width: 30%;}
        }
    }
}