
<div class="main">
    <h1 align="center">Sign Up</h1>
        <form [formGroup]="form" (ngSubmit)="register()" class="wrapper" >
            <mat-form-field appearance="outline">
                <mat-label>UserName</mat-label>
                <input matInput type="text" formControlName="name" required> 
                <mat-error *ngIf="form.get('name').invalid">UserName is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required>  
                <mat-error *ngIf="form.get('email').errors?.required">Email is required</mat-error>
                <mat-error *ngIf="form.get('email').errors?.email">Email is invalid</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" required>  
                <mat-error *ngIf="form.get('password').invalid">Password is required</mat-error>
                <mat-error *ngIf="form.get('password').errors?.minlength">Password must be more than 6 characters</mat-error>
                <mat-error *ngIf="form.get('password').errors?.pattern">Password must have at least one uppercase letter, one lowercase letter and one number</mat-error>
            </mat-form-field>
            <div class="buttons">
                <button mat-raised-button color="primary" id="sign-up-button" [disabled]="form.invalid"
                >Sign Up</button>
                <button mat-raised-button id="sign-in-button" type="button" (click)="toLog()"
                color="primary">Sign In</button>
            </div>
        </form>
</div>